# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
.venv/

# Environment variables
.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Jupyter Notebook checkpoints (на всякий случай)
.ipynb_checkpoints/

# PyInstaller
*.manifest
*.spec

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache

# mypy
.mypy_cache/

# pytest
.pytest_cache/
